.multipurpose-room-container {
  text-align: center;
  padding: 4rem 2rem;
}

.multipurpose-room-container h2 {
  font-size: 2.5rem;
  color: #44543c;
  margin-bottom: 2rem;
  font-weight: 700;
}

.multipurpose-room-container p {
  font-size: 1.2rem;
  color: #34495e;
  margin-bottom: 4rem;
}

.amenities-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.amenity-item {
  text-align: center;
  flex: 1 1 calc(50% - 2rem);
  max-width: 200px;
}

.amenity-icon {
  font-size: 3rem;
  color: rgb(68, 84, 60);
  margin-bottom: 1rem;
}

.amenity-item p {
  font-size: 1.3rem;
  color: #7f8c8d;
}

.slider-container {
  margin: 3rem auto;
  max-width: 600px;
}

.slider-img-wrapper {
  padding: 0.5rem;
}

.slider-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}
