/* Ajusta el contenedor del slider para que ocupe el 100% del ancho */
.banner-u-wrapper {
  width: 100%;
}

.banner-u {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.carousel-u {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

/* El contenido tiene un ancho limitado */
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.intro-section {
  text-align: center;
  margin: 40px 0;
}

.intro-section h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

.intro-section p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 800px;
  text-align: justify;
}

.activity-banner {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
  transition: transform 0.3s;
}

.activity-banner:hover {
  transform: scale(1.02);
}

.activity-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.activity-info {
  padding: 20px;
  width: 50%;
}

.activity-title {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #333;
}

.activity-description {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
}

.google-maps-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #44543c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.google-maps-button:hover {
  background-color: #5a6e4f;
}

/* Adaptaciones para pantallas pequeñas */
@media (max-width: 768px) {
  .activity-banner {
    flex-direction: column;
  }

  .activity-image,
  .activity-info {
    width: 100%;
  }

  .carousel-u {
    height: 300px;
  }

  .intro-section h3 {
    font-size: 1.6em;
  }

  .intro-section p {
    font-size: 1.1em;
  }

  .activity-title {
    font-size: 1.5em;
  }

  .activity-description {
    font-size: 1em;
  }
}
