.ubicacion {
  margin: 0 auto;
}

.banner-u {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-top: 70px;
}

.carousel-u {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.info-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; /* Limitar el ancho a 1200px en pantallas grandes */
  margin: 4rem auto;
  padding: 20px;
  flex-wrap: wrap;
  gap: 3rem;
}

.info-left h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.info-left h4 {
  font-size: 1.3rem;
  margin-top: 1rem;
  font-weight: 400;
}

.info-left {
  flex: 1;
  min-width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.info-right {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

h2,
h3 {
  margin: 10px 0;
  color: #44543c;
  font-weight: 700;
}

p {
  margin: 5px 0;
  font-size: 1.2rem;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
  .info-container {
    max-width: 100%;
    padding: 10px;
    gap: 2rem;
  }

  .banner-u {
    height: 350px;
  }

  .info-left,
  .info-right {
    min-width: 100%;
  }

  .carousel-image {
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .info-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .info-left,
  .info-right {
    min-width: 100%;
  }

  .info-left h3 {
    font-size: 1.8em;
  }

  p {
    font-size: 1rem;
  }

  .banner-u {
    height: 300px;
  }

  .carousel-image {
    object-fit: cover;
  }

  .map {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .map {
    height: 150px;
  }

  .banner-u {
    height: 250px;
  }

  .carousel-image {
    object-fit: cover;
  }
}
