.ubicacion {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.banner-u {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-top: 70px;
}

.carousel-u {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.info-container {
  display: flex;
  justify-content: space-between; /* Espacio entre los dos divs */
  max-width: 1000px;
  margin: 4rem auto 4rem auto; /* Centrado con margen */
  padding: 20px;
  flex-wrap: wrap; /* Permitir que el contenido se envuelva en pantallas pequeñas */
  gap: 3rem;
}

.info-left h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.info-left h4 {
  font-size: 1.3rem;
  margin-top: 1rem;
  font-weight: 400;
}

.info-left {
  flex: 1;
  min-width: 300px; /* Ancho mínimo para el div izquierdo */
  text-align: left; /* Alinear el texto a la izquierda */
  margin-bottom: 20px; /* Espacio inferior para separar del mapa */
}

.info-right {
  flex: 1;
  min-width: 300px; /* Ancho mínimo para el div derecho */
}

h2,
h3 {
  margin: 10px 0;
}

p {
  margin: 5px 0; /* Espaciado entre párrafos */
  font-size: 1.2rem;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .info-container {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinear a la izquierda */
    padding: 10px; /* Reducir padding para pantallas pequeñas */
    gap: 1.5rem; /* Reducir el espacio entre elementos */
  }

  .info-left,
  .info-right {
    min-width: 100%; /* Asegurarse de que cada sección ocupe todo el ancho */
  }

  h3 {
    font-size: 1.8em; /* Reducir el tamaño de fuente para títulos en pantallas pequeñas */
  }

  p {
    font-size: 1rem; /* Ajustar el tamaño del texto de los párrafos */
  }

  .info-right {
    margin-top: 20px;
  }

  .map {
    height: 200px; /* Reduce la altura del mapa en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .map {
    height: 150px; /* Reduce aún más la altura para pantallas muy pequeñas */
  }
}
