/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(68, 84, 60);
  padding: 0.6rem 8rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #fff;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #ccc;
  font-size: 24px;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
  margin-left: 20px;
}

.nav-item a,
.nav-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  font-size: 1.2rem;
  font-weight: 300;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-item a:hover,
.nav-link:hover {
  color: #ccc; /* Cambia el color al pasar el ratón */
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.6rem 2rem; /* Reducir padding para pantallas más pequeñas */
  }

  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(68, 84, 60, 0.9);
    position: absolute;
    top: 60px; /* Ajustar según la altura del navbar */
    left: 0;
    transition: max-height 0.3s ease-in-out;
    padding: 1rem; /* Agregar padding para más espacio dentro del menú */
  }

  .nav.open {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem; /* Aumentar el tamaño de la fuente del menú */
  }

  .nav-item {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: block;
  }
}

@media (max-width: 480px) {
  .nav-list {
    font-size: 1.2rem; /* Ajustar el tamaño de fuente para pantallas más pequeñas */
  }
}
